@font-face {
    font-family: "AvenirLight";
    src: url("./../assets/fonts/light/Avenir-LT-Std-35-Light.otf");
}

@font-face {
    font-family: "AvenirMedium";
    src: url("./../assets/fonts/medium/Avenir-LT-Std-65-Medium.otf");
}

@font-face {
    font-family: "AvenirHeavy";
    src: url("./../assets/fonts/heavy/Avenir-LT-Std-85-Heavy.otf")
}

.bread-card {
    margin-top: 2rem;
    background-color: #f7f6e7;
    width: 22rem;
    height: 35rem;
    text-align: center;
}

.bread-card .card-img-top {
    position: absolute;
    left: 0;
}

.bread-card .card-picture {
    position: relative;
    top: -5rem;
}

.bread-card .card-body {
    position: absolute;
    bottom: 0em;
    left: 0;
}

.bread-card p {
    font-size: 1rem;
    font-family: "AvenirMedium";
}

.bread-card h5 {
    font-family: "AvenirHeavy";
    font-weight: bold;
    font-size: 2rem;
}