.bread-card {
    margin-top: 3rem;
    background-color: #f7f6e7;
    width: 100%;
    height: 50rem;
    text-align: center;
    min-width: 20rem;
}

.bread-card .card-picture {
    position: relative;
    top: 0rem;
    height: 100%;
}

.bread-card .card-img-top {
    position: absolute;
    left: 0;
    bottom: 0;
}

.bread-card .card-body {
    bottom: 0em;
    left: 0;
}

.bread-card p {
    font-size: 1rem;
    font-family: "AvenirMedium";
}

.bread-card h5 {
    font-family: "AvenirHeavy";
    font-weight: bold;
    font-size: 1.8rem;
    color: var(--blue-color);
}

.red---border {
    border: 3px solid red;
}
.blue---border {
    border: 3px solid blue;
}