@font-face {
    font-family: 'Avenir';
    src: url('./../assets/fonts/heavy/Avenir-LT-Std-85-Heavy.otf');
}

.btn {
    font-family: 'Avenir';
    font-size: 1rem;
    font-weight: bold;
    border-radius: 2%;
    padding: 0.5em 2em;
    color: white;
    text-transform: uppercase;
}

.btn:hover {
    transition: all 0.3s ease-out;
    transition: 250ms;
    background-color: var(--blue-color);
    color: var(--brown-color);
}
