.btn {
    font-family: 'Avenir';
    font-size: 1rem;
    font-weight: bold;
    border-radius: 2%;
    padding: 0.5em 2em;
    color: white;
    text-transform: uppercase;
}

.btn:hover {
    transition: all 0.3s ease-out;
    color: var(--brown-color);
    border: 2px solid var(--brown-color);
    box-shadow: 0 0 2px rgb(182, 146, 61, 0.2);
}
