.carousel-item {
    background-color: white;
    flex: 0 0 auto;
    width: 100%;
    scroll-snap-align: start;
}

.carousel-inner {
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.carousel .col-4 {
    padding: 0 0;
    margin: 0 0;
    background-color: white;
}