.corner {
    background-color: var(--blue-color);
}

.corner p {
    color: white;
}

.corner #kidscorner {
    font-size: 6rem;
    font-family: "Dumb";
    font-weight:600;
    color: whitesmoke;
    word-spacing: -24px;
    line-height: 6rem;
}

.mario--image img {
    object-fit: contain;
}

.responsive {
    height: 100%;
    width: auto;
}

.red--border {
    border: 3px solid red;
}

