@font-face {
    font-family: 'Avenir';
    src: url('./../assets/fonts/medium/Avenir-LT-Std-65-Medium.otf');
}

footer {
    background-color: var(--blue-color);
}

footer p {
    color: white;
}

footer h3 {
    font-size: 1rem;
    color: white;
    font-weight: bold;
}

footer span {
    color: var(--brown-color);
}

.logo--image {
    width: 65%;
}

.marketing {
    overflow-wrap: break-word;
}

.company-info--section {
    font-size: 0.8rem;
}

.social-media--section {
    border-bottom: 2px solid white;
}
