@font-face {
    font-family: "Avenir";
    src: url("./../assets/fonts/medium/Avenir-LT-Std-65-Medium.otf");
}

:root {
    --blue-color: #2d0170;
    --brown-color: #b6923d;
}

 p {
    font-size: 1.1rem;
 }

.info-content {
    padding-top: 5.8em;
    padding-bottom: 5.8rem;
}