@font-face {
    font-family: 'Avenir';
    src: url('./../assets/fonts/light/Avenir-LT-Std-35-Light.otf');
}

.information p {
    font-family: 'Avenir';
    max-width: 100%;
    font-size: 0.8rem;
}