.nav-item {
    font-size: 1.5rem;
}

.nav-link {
    color: var(--mild-blue-color);
    font-family: "AvenirHeavy";
}

.nav-link:hover {
    color: var(--blue-color);
}

.navbar button {
    border: 2px solid var(--brown-color) !important;
}

.navbar button:hover {
    border: 2px solid var(--brown-color) !important;
}

