.view p {
    font-family: 'AvenirLight';
    max-width: 100%;
    font-size: 0.8rem;
    color: var(--blue-color);
}

.view h2 {
    font-family: 'AvenirHeavy';
    font-size: 3em;
    font-weight: bold;
    color: #2d0170;
}

.donate--button {
    font-family: 'Avenir';
    font-size: 1rem;
    font-weight: bold;
    border-radius: 2%;
    padding: 0.5em 2em;
    color: white;
    text-transform: uppercase;
    border: 2px solid var(--brown-color);
    background-color: var(--brown-color) !important;
}


.donate--button:hover {
    transition: all 0.3s ease-out;
    color: var(--brown-color);
    background-color: white !important;
    border: 2px solid var(--brown-color) !important;
    box-shadow: 0 0 2px rgb(182, 146, 61, 0.2);
}