.notification {
    background-color: var(--brown-color);
}

.notification .form-control {
    border-radius: 0%;
    color: white;
    background-color: rgb(202, 166, 83) !important;
}
.notification .form-control::placeholder {
    color: white;
    font-weight: light;
}

.submit--button {
    background-color: var(--blue-color);
    color: white;
    height: 100%;
}

.email--submit {
    background-color: rgb(202, 166, 83);
}

.bread--group {
    height: 110%;
}