@font-face {
    font-family: 'AvenirLight';
    src: url("./../assets/fonts/light/Avenir-LT-Std-35-Light.otf");
}

.value p {
    font-family: 'AvenirLight';
    color: var(--blue-color);
}

.value h5 {
    font-size: 2rem;
    color: var(--blue-color);
}

.value {
    height: 30rem;
    background-color: whitesmoke;
    border: none;
    outline: none;
}

.red--border {
    border: 3px solid red;
}