:root {
    --blue-color: #2d0170;
    --brown-color: #b6923d;
    --mild-blue-color: #9689b8;
}

@font-face {
    font-family: "AvenirLight";
    src: url("./assets/fonts/light/Avenir-LT-Std-35-Light.otf");
}

@font-face {
    font-family: "AvenirMedium";
    src: url("./assets/fonts/medium/Avenir-LT-Std-65-Medium.otf");
}

@font-face {
    font-family: "AvenirHeavy";
    src: url("./assets/fonts/heavy/Avenir-LT-Std-85-Heavy.otf");
}

@font-face {
    font-family: "Dumb";
    src: url("./assets/fonts/3dumb/3Dumb.ttf");
}

@font-face {
    font-family: "2Dumb";
    src: url("./assets/fonts/3dumb/2Dumb.ttf");
}